<link rel="stylesheet" type="text/css" href="/css/users_profile.css">
<h1>
    Profile Page
</h1>

<!-- if user matches show update form -->
<% if (user.id==profile_user.id) { %>
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<% profile_user.name %>">
        <input type="text" name="email" placeholder="Your Email" value="<% profile_user.email %>">
        <input type="submit" value="update">
    </form>

<% } %>
<p>
<%= profile_user.name %></p>
<p>
<%= profile_user.email %>
</p>


