<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header.ejs');%>
        <h1>
            Profile Page
        </h1>
        <%- include('_footer.ejs');%>
    </body>
</html>